/* ################# DEFAULT ########################### */
nav,header,footer{
    margin: 0;
}
body{
    font-family: oswald;
    font-weight: bold;
    margin: 0 ;
    display: block;
    background-color: rgb(6, 7, 7);
    width: 100%;
}

/* ####################  NAV BAR  ####################### */


nav{
    width: 100%;
    overflow: hidden;
}
li{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0px;
    list-style: none;
    float: right;
    color: rgb(93, 202, 71);
}
li a{
    
    padding: 20px;
    text-transform: uppercase;
    font-family: oswald;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}

.logo{
    float: left;
}
li a:hover{
    background-color: rgb(78, 209, 111);
    color: rgb(255, 255, 255);
    border-radius: 5PX;
}


/* ###################### CONTENT ########################## */


img{
    position: absolute;
    width: 60px;
    padding: 7px;
}

h2{
 
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-transform: uppercase;
    text-align:center;
    
}


h3{
    
    font-size: 40px;
    word-spacing: 3px;
    color: rgb(255, 255, 255);
    text-transform:capitalize;
    text-align:center;

}
p{
    font-size: 30px;
    text-align: center;
    
    color: rgb(18, 209, 28);
}
div.background{

    
    background-image: url(2.jpeg);
    background-size: cover;
    width: 100%;
    height: 500px;
    padding-top: 50px;
   
}


/* ################# 2 CONTAINER ################### */
div.container{
    
    background-image: url(nfs.jpg);
    padding-top: 1px;
    width: 100%;
    height: 700px;
}
div.container h4{
    text-transform: uppercase;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
}
div.trans{
    background-color: rgb(251, 251, 251);
    margin: auto;
    opacity: 0.6;
}
div.container div.righttext{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 70px;
    text-align:end;
    
}
footer{
    background-color: rgb(5, 5, 5);
    text-align: center;
    opacity: 0.6;
    color: palegreen;
    font-size: 40px;
    
}

.ml15 {
    font-weight: 800;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }

/*###########################################################*/

#cont{

    background-image: url(cod.jpeg);
    width: 100%;
    height: 800px;
    /* padding: 20px 20px 20px 20px; */
    

}
.g{
    margin-left: 300px;
}